{% extends 'header.html'%}
{% load  static  %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Product</title>
	
</head>
<body class="animsition">
	<!-- Product -->
	<div class="bg0 m-t-23 p-b-140" style="margin-top:100px;">
		<div class="container">
			
			<div class="row isotope-grid">
				<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
					<!-- Block2 -->
					<div class="block2">
						<div class="block2-pic hov-img0">
							<img src="{{product.product_image.url}}" style="width:250px;height:300px;" alt="IMG-PRODUCT">

						</div>

						<div class="block2-txt flex-w flex-t p-t-14">
							<div class="block2-txt-child1 flex-col-l ">
								<a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
									{{product.product_name}}
								</a>

								<span class="stext-105 cl3">
									{{product.product_price}}
									
								</span>
								<span class="stext-105 cl3">
									{{product.product_desc}}
								</span>
							</div>
							{% if request.session.email %}
							{% if cart_flag %}
							<a href="{% url 'remove_from_cart' pk=product.pk %}"><input type="button" name="remove from cart" value="Remove" class="btn btn-danger"></a>
							{% else %}
								<a href="{% url 'add_to_cart' pk=product.pk %}"><input type="button" name="add to cart" value="Add To Cart" class="btn btn-danger"></a>

							{% endif %}
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

							{% if wishlist_flag %}
							<a href="{% url 'remove_from_wishlist' pk=product.pk %}"><input type="button" name="remove from wislist" value="remove wishlist" class="btn btn-danger"></a>
							{% else %}
								<a href="{% url 'add_to_wishlist' pk=product.pk %}"><input type="button" name="Add To Wislist" value="add to wishlist" class="btn btn-danger"></a>
							{% endif %}
							{% else %}
							   <a href="{% url 'login' %}"><input type="button" name="login" class="btn btn-primary"></a>
							{% endif %}


						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
{% endblock %}